
.login{
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;
    background-color: #fcf4e0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-container{
    background-color: var(--clr-white);
    max-width: 40vw;
    padding: 1.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-container h2{
    color: var(--clr-accent);
    text-align: center;

}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

  margin-bottom: 1rem;
   
}
.input-container label{
    font-weight: 500;
    font-size: var(--fs-200);
    color: var(--clr-accent);
}
.input-container input{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid var(--clr-secondary);
    outline: none;
    padding: 0.5rem 1rem;
    color: var(--clr-accent);
}

.input-container input:hover{
    border-color: var(--clr-secondary);
}
.input-container input:focus{
    border-color: var(--clr-accent);
}
.login-btn{
    width: 100%;
    background-color: var(--clr-secondary);
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--clr-white);
    margin-bottom: 1rem;
}
.login-btn:disabled{
    background-color: grey !important;
}
.login-text{
    width: 100%;
    text-align: center;
    color: var(--clr-accent);
}

.login-link{
    text-decoration: none;
    color: var(--clr-secondary);
}

@media (max-width:600px) {
    .login-container{
        max-width: 90vw;
        margin-top: 80px;
    }
}